* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    width:85%;
    margin:auto;
}

.home-page-container{
    width:100%;
    height:auto;
}

.navbar-container{
    width:100%;
    border-bottom: 2px solid #d8d8d8;
}

.navbar-images-container{
    display:flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}

.navbar-images-container img{
    width:30px;
    height:30px;
    cursor: pointer;
}

.cart-list-container{
    width:0px;
}

.cart-list-container-open{
    width:300px;
}

.cart-list-container,
.cart-list-container-open {
    position:absolute;
    right:0px;
    height:100vw;
    border-left: 2px solid #d8d8d8;
    transition: 0.4s;
}

.products-header-container,
.product-list-container{
    width:100%;
    padding:10px;

}

.product-list-container{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:20px;
}

.product-container,
.product-image-container{
    width:100%;
}

.product-container{
    border:1.5px solid #eee;
    border-radius:5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.product-image-container{
    background-color: #adadad;
    height:300px;
}

.product-rating-container{
    display:flex;
    align-items: center;
    margin:5px 6px 0px 6px;
}

.product-rating-container img{
    width:20px;
    height:20px;
}

.product-rating-container h6{
    font-size: 14px;
    position: relative;
    top:1px;
    left:2px;
}

.product-details-container{
    width:100%;
    padding:5px 10px;
}

.product-details-container h4{
    line-height: 1.2;
    letter-spacing: 1.5px;
}